<div class="container col-lg-12">
<h2>Calendars</h2>
	<div class="col-lg-6 form-panel">
		<div class="row form-inline">
			<label>Name: </label>
			<input type="text" name="name" required>
		</div>
		<div class="row form-inline">
			<label>Date: </label>
			<input type="date" name="date" required>
			<i class="glyphicon glyphicon-calendar"></i>
		</div>
		<div class="row form-inline button-panel1">
			<button type="submit" class="savebtn"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
			<button type="button" class="cancelbtn"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
		</div>
		<div class="row">
			<table class="table table-hover table-striped" id="calendar" cellspacing="0">
		        <thead>
		            <tr>
		                <th>Holiday</th>
		                <th>Date</th>
		                <th>Remove</th>
		            </tr>
		        </thead>
		       
		       <!-- <tfoot>
		            <tr>
		                <th>Holiday</th>
		                <th>Date</th>
		                <th>Remove</th>
		            </tr>
		        </tfoot> -->

		        <tbody>
		            <tr>
		                <td>New Year's</td>
		                <td>1/1</td>
		                <td><button class="removebtn">-</button></td>
		            </tr>
		            <tr>
		                <td>Martin Luther King's</td>
		                <td>1/1</td>
		                <td><button class="removebtn">-</button></td>
		            </tr>
		            <tr>
		                <td>St. Patrick's Day</td>
		                <td>1/1</td>
		                <td><button class="removebtn">-</button></td>
		            </tr>
		            <tr>
		                <td>Halloween</td>
		                <td>1/1</td>
		                <td><button class="removebtn">-</button></td>
		            </tr>		            		            
	         	</tbody>
       		</table>
		</div>
	</div>
</div>


