In Progress...

<div class="container col-lg-12">
	<h2>User Preferences</h2>
	<div class="col-lg-6 form-panel">
		<div class="row form-inline">
			<label>Timesheet Format: </label>
			<select name="timesheetformat" required>
				<option value="hold1">Standard</option>							
			</select>
		</div>	
		<div class="row form-inline">
			<label>Date Format: </label>
			<select name="dateformat" required>
				<option value="hold2">mm/dd/yy</option>							
			</select>
		</div>	
		<div class="row form-inline">
			<label>Time Zone Format: </label>
			<select name="timezoneformat" required>
				<option value="hold5">Eastern Standard</option>								
			</select>
		</div>	
		<div class="row form-inline">
			<label>Clock Format: </label>
			<select name="dateformat" required>
				<option value="hold3">AM/PM</option>							
			</select>
		</div>		
		<div class="row form-inline">
			<label>Hours Format: </label>
			<select name="hoursformat" required>
				<option value="hold4">Decimal</option>								
			</select>
		</div>	
	    <div class="row form-inline">
			<label>Number of records to display per page: </label>
			<input type="number" name="numrecords" min="4" value="10" required>
		</div>	
		<div class="row form-inline button-panel1">
			<button type="submit" class="savebtn"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
			<button type="button" class="cancelbtn"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
		</div>
	</div>
</div>